---
import { Layout } from '../layouts';
import { Button, Logo, Patter } from '../components';
import { Description } from '../utils';
---

<Layout title="erisly.moe">
    <main class="h-screen w-screen flex items-center justify-center">
        <section class="flex flex-col items-center justify-center container gap-4 text-white text-center p-4">
            <Patter className="rounded-lg" />

            <div class="flex flex-col items-center">
                <Logo className="text-6xl" />
                <p>{Description}</p>
            </div>

            <a href="https://github.com/erisly/moe" target="_blank">
                <Button icon="akar-icons:github-fill">Contribute on GitHub</Button>
            </a>
        </section>
    </main>
</Layout>
