---
import { Layout } from '../layouts';
import { Button, Logo } from '../components';
---

<Layout title="erisly.moe">
    <main class="flex flex-col items-center justify-center h-screen gap-4 text-white">
        <img src="/emotes/pat.png" alt="Erisly being pet on the head" class="rounded-lg" />
        <Logo className="text-6xl" />
        <a href="https://github.com/erisly/moe" target="_blank">
            <Button icon="akar-icons:github-fill">Contribute on GitHub</Button>
        </a>
    </main>
</Layout>
