@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default font size is too small */
body {
    @apply text-lg;
}

/* Going out on a limb and assuming everyone hates this feature */
img { 
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
    user-drag: none; 
}

/* Turn off the feature that makes stuff turn blue when tapped on mobile */
.no-highlight {
    -webkit-tap-highlight-color: transparent;
}

/* Usually for a (anchor) elements */
.link {
    @apply underline;
}
.link:hover {
    @apply text-erisly-400;
}

.button {
    @apply text-white bg-black;
}
.button:hover {
    @apply text-black bg-white;
}

.hover\:button {
    @apply duration-200;
}
.hover\:button:hover {
    @apply shadow-xl opacity-95;
}

.button-github {
    @apply text-white bg-github;
}
.button-github:hover {
    @apply bg-white text-github;
}

.button-discord {
    @apply text-white bg-discord;
}
.button-discord:hover {
    @apply bg-white text-discord;
}

.button-discord-github {
    @apply text-white bg-gradient-to-r from-discord to-github;
}
.button-discord-github:hover {
    @apply text-white;
}